<h2>Edit sermon</h2>

<%= render "form.html", changeset: @changeset,
                        action: sermon_series_sermon_path(@conn, :update, 1, @sermon) %>

<%= link "Back", to: sermon_series_sermon_path(@conn, :index, 1) %>
