<div class="row">
  <div class="large-12 medium-12 columns">
    <div class="row">
      <div class="small-9 columns">
        <h5><%= @sermon.title %> - $<%= @sermon.price %></h5>
        <p><%= @sermon.description %></p>
      </div>
      <div class="small-3 columns">
        <%= img_tag @sermon.buy_graphic_url %>
      </div>
    </div>
  </div>
</div>
