<h5>Edit Sermon Series <%= link "cancel", to: sermon_series_path(@conn, :index) %></h5>

<%= render "form.html", changeset: @changeset,
                        action: sermon_series_path(@conn, :update, @sermon_series) %>
