<h2>New sermon series</h2>

<%= render "form.html", changeset: @changeset,
                        action: sermon_series_path(@conn, :create) %>

<%= link "Back", to: sermon_series_path(@conn, :index) %>
